
/* @import "@nuxt/ui"; */
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Your custom design tokens go here */
  --spacing: 0.1rem;
  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-mainColorLight-50: rgb(253, 223, 206);
  --color-mainColorLight-50: rgb(253, 223, 206);
  --color-mainColorLight-100: rgb(253, 223, 206);
  --color-mainColorLight-200: rgb(253, 223, 206);
  --color-mainColorLight-300: rgb(253, 223, 206);
  --color-mainColorLight-400: rgb(253, 223, 206);
  --color-mainColorLight-500: rgb(253, 223, 206);
  --color-mainColorLight-600: rgb(253, 223, 206);
  --color-mainColorLight-700: rgb(253, 223, 206);
  --color-mainColorLight-800: rgb(253, 223, 206);
  --color-mainColorLight-900: rgb(253, 223, 206);
  --color-mainColorLight-950: rgb(253, 223, 206);
}